* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todolist-card {
  padding: 21px;
  width: 493px;
  background-color: #e8e8e8;
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
